<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <nav>
        <img src="./resources/CamagRooT.svg" alt="logo du site camagRoot">
    
        <form action="POST">
            <input type="search" name="search bar" id="search-bar">
            <input type="submit" value="go">
        </form>

        <button class="btn-camagRoot" id="signup">Sign Up</button>
        <button class="btn-camagRoot" id="signin">Sign In</button>
    </nav>

    <main></main>
</body>
</html>