<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome on Camagru !</h1>
    <form method="post">
        <label>Login : </label>
        <input type="text" name="login" placeholder="Enter your login here">
        
        <label>Email : </label>
        <input type="email" name="email" class="form-control" placeholder="Enter your email here">

        <label>Password : </label>
        <input type="password" name="password" placeholder="Enter your password here">
        
        <input type="submit" name="register">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
    </form>
</body>
</html>